<!doctype html>
<html>
    <head>
        <style> span.error { color: red; } </style>
        <title align="center">{{title}}</title>
    </head>
<body>

        <a href="/">Home</a> |
        <a href="/blog">All Blogz</a> |
        <a href="/newpost">Add a Blogz Entry</a> |
        <a href="/singleuser">My Blogz</a>

        <div style='float: right'>
            {% if 'email' in session %}
              {{ session['email'] }}
              | <a href='/logout'>Log out</a>
            {% else %}
              <a href="login">Login</a> | <a href="/signup">Signup</a>
            {% endif %}
        </div>

 
        
    {% block content %}

    {% endblock %}
    
</body>

</html>